<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<meta charset="utf-8">
	<title>TODO List</title>
	<link rel="stylesheet" type="text/css" href="todo.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="adduserform.js"></script>
</head>
<body>
<h1>가입하기</h1>
<form name="adduserform" ng-controller="AddUserController">
	<div>이름 : <input type="text" ng-model="user.first" required /></div>
	<div>성 : <input type="text" ng-model="user.last" required /></div>
	<div>이메일 : <input type="email" ng-model="user.email" required /></div>
	<div>나이 : <input type="number" ng-model="user.age" minlength="1" maxlength="3" /></div>
	<button type="button" ng-click="addUser();" ng-disabled="!adduserform.$invalid">전송</button>	
</form>
</body>
</html>